<div class="main-navbar">
    <div class="nav" id="js-nav">
        <div id="js-main-logo">
            <%= image_tag("main-logo.png", alt: "star", class: "main-logo") %>
        </div>
        <div>
            <%= image_tag("hamburger.png", alt: "star", class: "nav-hamburger", id: "js-hamburger") %>
            <div class= "close-btn hide" id="js-close"> X </div>
        </div>
    </div>
    <div class="nav-lists hide" id="js-nav-lists">
        <li class="nav-list-item for-desk">Company logo</li>
        <li class="nav-list-item">Your applications</li>
        <li class="nav-list-item">About us </li>
        <li class="nav-list-item">tic tac </li>
    </div>
</div>

<%= javascript_include_tag 'navbar' %>



