<div class="main-navbar">
    <div class="nav-lists for-mob">
        <div id="js-main-logo">
            <%= image_tag("main-logo.png", alt: "star", class: "main-logo") %>
        </div>
        <div id="js-hamburger">
            <%= image_tag("hamburger.png", alt: "star", class: "nav-hamburger") %>
        </div>
    </div>
    <div class="nav-lists d-none">
        <li class="nav-list-item for-desk">Company logo</li>
        <li class="nav-list-item">Your applications</li>
        <li class="nav-list-item">About us </li>
        <li class="nav-list-item">tic tac </li>
    </div>
</div>



