
@import "comman";
@import "partials/navbar";
.main-heading{
    font-size: 34px;
    line-height: 48px;
    margin-top: 16px;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 600;
}
.card{
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
    padding: 16px;
    border-radius: 8px;
    min-width: 285px;
}